appdirs==1.4.4
beautifulsoup4==4.10.0
brotlipy==0.7.0
bs4==0.0.1
certifi==2021.10.8
conda==4.11.0
cssselect==1.1.0
fake-useragent==0.1.11
importlib-metadata==4.10.1
lxml==4.7.1
parse==1.19.0
pycosat==0.6.3
pyee==8.2.2
pyppeteer==1.0.2
pyquery==1.4.3
requests-html==0.10.0
soupsieve==2.3.1
urllib3==1.26.7
w3lib==1.22.0
websockets==10.1
youtube-transcript-api==0.4.3
zipp==3.7.0
